@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// VARIABLES
$dark-color: #444444;
$gray-color: #888888;

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  background-image: url('/subtle_dots.png');

  a {
    color: $dark-color;
    font-weight: bold;
    border-bottom: 2px solid $dark-color;
    text-decoration: none;
    transition: all 0.5s;

  }

  a:hover {
    color: $gray-color; 
    border-bottom: 2px solid $gray-color;

  }


}

#root {
  height: 90%;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  color: $dark-color;
  margin-top: 0;
}

.shell {
  width: 1040px;
  margin: 20px auto;
	height: 100%;
  display: flex;
  flex-direction: column;
}


.nav {
  height: 64px;
  flex: 2;
  .logo {
    width: 64px;
  }


  .navItems {
    margin-top: 24px; 
    margin-left: 16px;
    vertical-align: top;
    display: inline-block;
    a {
      margin: 0 16px;
      font-weight: 300;
      text-decoration: none;
      color: $dark-color;
    }
  }
}

.content {
  flex: 1;
  display: flex;
	flex-direction: column;
}


.headline {
  align-self: flex-end;
}

#line_canvas {

}

/**
PROJECT
*/
ul.project_list {
  padding-left: 0;
}

li.project_item {

  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  border: 2px solid $gray-color;

  img {
    width: 128px;
    height: 128px;
    margin-right: 16px;
    flex: 0 0 128px;
    border: 2px solid $gray-color;


  }

  div {
    width: 100%;

    .project_header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 40px;

  
      h2 {
        margin: 0;
        font-weight: lighter;
        text-transform: uppercase;
        color: $dark-color;
      }
  
      p.project_status {
        color: $dark-color;
        display: flex;
      }
    }

    ul.project_tags {
      padding-left: 0;
      li {
        display: inline-block;
        padding: 4px 8px;
        background-color: $dark-color;
        color: #fff;
        margin-right: 4px;
        border: solid 2px $gray-color;
      }
    }
  }




}

/**
RESUME
*/

.resume_section {
  li.record_inline {
    display: inline-block;
    padding: 4px 8px;
    background-color: $dark-color;
    color: #fff;
    margin: 4px;
  }

  li.record_inline.relevance_2 {
    background-color: $gray-color;
  }

  li.record_block {
    list-style-type: none;

    .head {
        display: flex;
        justify-content: space-between;

      .left {
        width: 400px;
        margin: 10px;
        font-weight: bold;
      }
  
      .right {
        width: 300px;
        margin: 10px;
      }
    }

    p.record_subtext {
      margin: 0 10px;
      font-size: 0.8em;
    }

    ul.li {
      list-style-type: disc;
      display: block;
      font-size: 0.8em;
    }
  }
}

/**
CONTACT
*/



.form_holder {
  height: 480px;
    p.status {
      font-style:italic;
      color: $gray-color;
    }
}

form.contact_form {

  .form_group {
    padding: 16px 0;

    label {
      display: block;
      font-size: 0.85em;
      text-transform: uppercase;
    }
  
    input {
      max-width: 480px;
      width: 100%;
    }

    textarea {
      width: 480px;
      resize: none;
      height: 240px;
    }

  }
  
  button {
    border: 1px solid $dark-color;
    border-radius: 0;
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  
    &:hover {
      background-color: $gray-color;
      color: #fff;
    }
  }


}