@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// VARIABLES
$dark-color: #444444;
$gray-color: #888888;

$max-width: 1040px;
$mid-width: 860px;
$midlow-width: 640px;
$semimin-width: 480px;
$min-width: 320px;


@mixin page-tag {
  clip-path: polygon(100% 0, 100% 25%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 0);
  transition: all 0.25s ease-out;

  &:hover {
    clip-path: polygon(100% 0, 100% 25%, 100% 100%, 100% 100%, 0 100%, 0 0);
  }
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  background-image: url('/patterns/subtle_dots.png');

  a {
    color: $dark-color;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;

  }

  a:hover {
    color: $gray-color; 

  }


}

#root {
  height: 90%;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  color: $dark-color;
  margin-top: 0;
}

.shell {
  margin: 20px auto;
	height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  width: $max-width;
  overflow-y: auto;
  padding-right: 32px;

  @media (max-width: $max-width) {
    width: $mid-width;
  }
  @media (max-width: $mid-width) {
    width: $midlow-width;
  }
  @media (max-width: $midlow-width) {
    width: $semimin-width;
  }
  @media (max-width: $semimin-width) {
    width: $min-width;
  }
  @media (max-width: $min-width) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }


  &::-webkit-scrollbar-thumb {
    background-color: $dark-color;
    border: 1px solid $gray-color;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(196,196,196,0.7);
    background-color: #F5F5F5;
  }
}


.nav {
  height: 64px;
  flex: 2;
  margin-top: 16px;
  .logo {
    width: 64px;

    @media (max-width: $midlow-width) {
      display: block;
      margin: auto;
    }
  }


  .navItems {
    margin-top: 24px; 
    margin-left: 16px;
    vertical-align: top;
    display: inline-block;
    a {
      margin: 0 16px;
      font-weight: 600;
      text-decoration: none;
      color: $dark-color;
      border-bottom: 2px solid $dark-color;
      
      @media (max-width: $midlow-width) {
        margin-left: 4px;
        font-size: 15px;
      }
    }

    @media (max-width: $midlow-width) {
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width: $midlow-width) {
    height: 64px;
    padding-bottom: 16px;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;


}


.headline {
  align-self: flex-end;
  max-width: 100%;
  h1 {
    @media (max-width: $mid-width) {
      font-size: 32px;
    }

  }

  canvas {
    max-width: 100%;
    &.sanddropper {
      cursor: pointer;
    }
  }

  @media (max-width: $midlow-width) {
    padding: 16px;
  }
}


/**
PROJECT
*/
ul.project_list {
  padding-left: 0;
}

li.project_item {

  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;

  @media (max-width: $midlow-width) {
    width: auto;
    display: block;
  }

  img {
    width: 128px;
    height: 128px;
    margin-right: 16px;
    flex: 0 0 128px;
    border: 2px solid $gray-color;

    @media (max-width: $midlow-width) {
      width: 100%;
      height: auto;
      display: block;
    }

  }

  div {
    width: 100%;

    .project_header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 40px;
      @media (max-width: $max-width) {
        display: block;
        width: 100%;
        height: auto;
      }
  
      h3 {
        margin: 0;
        @media (max-width: $max-width) {
          display: block;
          width: 100%;
        }
        @media (max-width: $midlow-width) {
          margin: 16px 0;
        }
      }
  
      p.project_status {
        color: $dark-color;
        display: flex;
        @media (max-width: $max-width) {
          display: block;
          width: 100%;
          margin: 4px 0;

        }
      }
    }

    ul.project_tags {
      padding-left: 0;
      
      @media (max-width: $midlow-width) {
        display: block;
        width: 100%;
        margin: 16px 0;

      }
      li {
        display: inline-block;
        padding: 4px 8px;
        background-color: $dark-color;
        color: #fff;
        margin-right: 4px;
        margin-top: 4px;
        @include page-tag;


      }
    }
  }


  @media (max-width: $midlow-width) {
    &:after {
      width: 144px;
      height: 30px;
      display: block;
      margin: auto;
      content: "";
      border-bottom: 2px solid #444;
    }
  }


}

.filter_box {

  ul.filter_list {
    padding-left: 0;
      @media (max-width: $midlow-width) {
        display: block;
        width: 100%;
        margin: 16px 0;
  
      }
      li {
        display: inline-block;
        padding: 4px 8px;
        background-color: $dark-color;
        color: #fff;
        margin-right: 4px;
        border: solid 2px $gray-color;
        margin-top: 4px;
        cursor: pointer;
  
        &.inactive {
          background-color: $gray-color;
        }
      }
  }
}




/**
RESUME
*/
.resume {
  h2 {
    margin-top: 32px;
    padding: 8px 16px;
    background-image: url('/patterns/dark-honeycomb.png');
    color: #fff;
    clip-path: polygon(100% 0, 100% 0%, 90% 100%, 0 100%, 0 0);
    max-width: 440px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

    &:hover {
      clip-path: polygon(100% 0, 90% 0%, 100% 100%, 0 100%, 0 0);

    }

  }
}
.resume_section {
  ul {
    
    @media (max-width: $midlow-width) {
      padding-left: 0;
    }
  }

  li.record_inline {
    display: inline-block;
    padding: 4px 8px;
    background-color: $dark-color;
    color: #fff;
    margin: 4px;
    /*clip-path: polygon(100% 0, 100% 25%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 0);
    transition: clip-path 0.25s ease-out;

    &:hover {
      clip-path: polygon(100% 0, 100% 25%, 100% 100%, 100% 100%, 0 100%, 0 0);
    }*/
    @include page-tag;
  }

  li.record_inline.relevance_2 {
    background-color: $gray-color;
  }

  li.record_block {
    list-style-type: none;


    .head {
        display: flex;
        justify-content: space-between;


        @media (max-width: $midlow-width) {
          width: 100%;
          display: block;
        }

      .left {
        margin: 16px 0 0 0;
        font-weight: bold;
        @media (max-width: $midlow-width) {
          width: 100%;
          display: block;
          margin: 4px 0;
        }
      }
  
      .right {
        width: 300px;
        margin: 16px 0 0 0;
        text-align: right;
        font-style: italic;
        @media (max-width: $midlow-width) {
          width: 100%;
          display: block;
          text-align: left;
          margin: 4px 0;
          font-size: 0.85em;
        }
      }
    }

    p.record_subtext {
      margin: 0;
      font-size: 0.9em;
    }

    ul.record_subitems {
      @media (max-width: $midlow-width) {
        padding-left: 32px;
      }

      li {
        list-style-type: disc;
        font-size: 0.9em;
        margin-bottom: 4px;
      }
    }
  }
}

/**
CONTACT
*/



.form_holder {
  height: 480px;
    p.status {
      font-style:italic;
      color: $gray-color;
    }
}

form.contact_form {

  .form_group {
    padding: 16px 0; 

    label {
      display: block;
      font-size: 0.85em;
      text-transform: uppercase;
    }
  
    input {
      max-width: 480px;
      width: 100%;
    }

    textarea {
      max-width: 480px;
      width: 100%;
      resize: none;
      height: 160px;
    }

  }
  
  button {
    border: 1px solid $dark-color;
    border-radius: 0;
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  
    &:hover {
      background-color: $gray-color;
      color: #fff;
    }
  }


}

p.loading {
  font-weight: 700;
  animation: fade-pulse 0.63s infinite;
  animation-direction: alternate;
  font-color: $dark-color;
}

@keyframes fade-pulse {
  from {opacity: 1;}
  to {opacity: 0.3;}
}
